version: '3'

services:
  tg_bot:
    build:
      dockerfile: Dockerfile
    env_file:
      - .env
    depends_on:
      - redis
    environment:
      TZ: "Europe/Kyiv"
    volumes:
      - .:/bot

  redis:
    image: redis:latest
    container_name: redis-server
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    env_file:
      - .env
    command: >
      sh -c "redis-server /usr/local/etc/redis/redis.conf --protected-mode no --user ${REDIS_USER} on >${REDIS_PASSWORD} allcommands allkeys"
  

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "1889:1889"
    depends_on:
      - redis
    environment:
      TZ: "Europe/Kyiv"
volumes:
  redis-data:
    driver: local
